<div class="card">
    <div class="card-header">
        <h3 class="card-title">Powiadomienia</h3>
    </div>
    <div class="card-body">
        <div class="alert alert-success" role="alert">
            <div class="d-flex">
              <div>
                <!-- Download SVG icon from http://tabler-icons.io/i/check -->
                <!-- SVG icon code with class="alert-icon" -->
              </div>
              <div>
                <h4 class="alert-title">Wow! Everything worked!</h4>
                <div class="text-muted">Your account has been saved!</div>
              </div>
            </div>
          </div>
          <div class="alert alert-info" role="alert">
            <div class="d-flex">
              <div>
                <!-- Download SVG icon from http://tabler-icons.io/i/info-circle -->
                <!-- SVG icon code with class="alert-icon" -->
              </div>
              <div>
                <h4 class="alert-title">Did you know?</h4>
                <div class="text-muted">Here is something that you might like to know.</div>
              </div>
            </div>
          </div>
          <div class="alert alert-warning" role="alert">
            <div class="d-flex">
              <div>
                <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
                <!-- SVG icon code with class="alert-icon" -->
              </div>
              <div>
                <h4 class="alert-title">Uh oh, something went wrong</h4>
                <div class="text-muted">Sorry! There was a problem with your request.</div>
              </div>
            </div>
          </div>
          <div class="alert alert-danger" role="alert">
            <div class="d-flex">
              <div>
                <!-- Download SVG icon from http://tabler-icons.io/i/alert-circle -->
                <!-- SVG icon code with class="alert-icon" -->
              </div>
              <div>
                <h4 class="alert-title">I'm so sorry&hellip;</h4>
                <div class="text-muted">Your account has been deleted and can't be restored.</div>
              </div>
            </div>
          </div>
    </div>
</div>