<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
			<div class="subheader">P&L</div>
			<div class="ms-auto lh-1">
				{% include parts/dropdown/days.html %}
			</div>
		</div>
        <h3 class="card-title">Przychody i koszty</h3>
        <div id="chart-demo-area" class="chart-lg"></div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        window.ApexCharts && (new ApexCharts(document.getElementById('chart-demo-area'), {
            chart: {
                type: "area",
                fontFamily: 'inherit',
                height: 240,
                parentHeightOffset: 0,
                toolbar: {
                    show: false,
                },
                animations: {
                    enabled: false
                },
            },
            dataLabels: {
                enabled: false,
            },
            fill: {
                opacity: .16,
                type: 'solid'
            },
            stroke: {
                width: 2,
                lineCap: "round",
                curve: "smooth",
            },
            series: [{
                name: "przychód",
                data: [560, 400, 390, 470, 340, 480, 440]
            }, {
                name: "koszt",
                data: [120, 73, 30, 55, 38, 39, 54]
            }],
            grid: {
                padding: {
                    top: -20,
                    right: 0,
                    left: -4,
                    bottom: -4
                },
                strokeDashArray: 4,
            },
            xaxis: {
                labels: {
                    padding: 0,
                },
                tooltip: {
                    enabled: false
                },
                axisBorder: {
                    show: false,
                },
                type: 'datetime',
            },
            yaxis: {
                labels: {
                    padding: 4
                },
            },
            labels: [
                '2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-27'
            ],
            colors: ["#206bc4", "#a55eea"],
            legend: {
                show: false,
                position: 'bottom',
                offsetY: 12,
                markers: {
                    width: 10,
                    height: 10,
                    radius: 100,
                },
                itemMargin: {
                    horizontal: 8,
                    vertical: 8
                },
            },
        })).render();
    });
</script>